<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @style.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @style.description %>
</p>

<% if admin_signed_in? %>
	<%= link_to 'Edit', edit_style_path(@style) %> |
<% end %>
<%= link_to 'Back', styles_path %>
