<% if params["search"] %>
	<div class="alert alert-info alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		Searching for <strong>"<%= params["search"] %>"</strong>, click <%= link_to "here", games_path, :class =>"btn btn-default btn-sm" %> to clear search
	</div>
<% end %>
<h1>Listing games</h1>

<%= link_to 'New Game', new_game_path %> | <%= link_to 'Export as JSON', games_path(:format => :json) %><br/>


Tags:
<% @tags.each do |tag| %>
	<span class="badge"><%= link_to tag, games_path(:search => tag) %></span>
<% end %>
<br/>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= link_to "Name", games_path(:sort_column => "name", :sort_direction => @sort["name"], :search => params["search"]) %></th>
      <th><%= link_to "Style", games_path(:sort_column => "style_id", :sort_direction => @sort["style_id"], :search => params["search"])%></th>
      <th><%= link_to "Minimum # of Players", games_path(:sort_column => "min_players", :sort_direction => @sort["min_players"], :search => params["search"])%></th>
      <th><%= link_to "Maximum # of Players", games_path(:sort_column => "max_players", :sort_direction => @sort["max_players"], :search => params["search"])%></th>
      <th><%= link_to "Number of Cards", games_path(:sort_column => "num_cards", :sort_direction => @sort["num_cards"], :search => params["search"])%></th>
      <th>Tags</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
				<td><%= link_to game.name, game %></td>
        <td><%= game.style.name unless game.style.nil? %></td>
        <td><%= game.min_players %></td>
        <td><%= game.max_players %></td>
        <td><%= game.num_cards %></td>
        <td><% game.tags.each do |tag| %>
					<span class="badge"><%= link_to tag, games_path(:search => tag) %></span>
					<% end %>
				</td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %> | <%= link_to 'Export as JSON', games_path(:format => :json) %><br/>
